# Flutter
.dart_tool/
.pub/
.pub-cache/
build/
*.iml
*.lock
*.log
*.aab
*.apk
*.app
*.framework
*.xcarchive

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Podfile.lock

# Web
web/

# Test
coverage/
